1 # version number, must be first

theme = visual_studio_light

[keybinds]

Ctrl-p                 = move_up
C-n                    = move_down
C-f                    = move_forward
C-b                    = move_backward
C-M-b b b              = move_backward  # this is a comment
C-=                    = font_decrease_size