1 # Version number, do not remove.

theme = handmade

[keybinds.panel]

M-x                                    = show_commands
C-S-p                                  = show_commands
C-s                                    = search

C-x C-f                                = open_file
C-x b                                  = switch_view
C-x k                                  = close_view

C-l                                    = recenter
M-v                                    = move_up_one_screen
<pageup>                               = move_up_one_screen
C-v                                    = move_down_one_screen
<pagedown>                             = move_down_one_screen

C-x 3                                  = split_panel_horizontally
C-x 0                                  = close_current_panel
C-x 1                                  = close_other_panels
C-x o                                  = go_to_other_panel

C-x p f                                = open_file_in_project
C-x p s                                = search_in_project
C-x s r                                = search_in_project  # For Jan's muscle memory from Emacs days
C-x p c                                = compile_in_project_or_directory

C-+                                    = font_size_increase
C--                                    = font_size_decrease

<f1>                                   = debug_view_atlas_texture
<f2>                                   = debug_view_memory_absolute
<f3>                                   = debug_view_memory_relative
<f4>                                   = debug_view_frame_profile
<f5>                                   = debug_view_frame_timeline

[keybinds.document]

C-p                                    = move_up
<up>                                   = move_up
C-n                                    = move_down
<down>                                 = move_down
C-f                                    = move_forward
<right>                                = move_forward
C-b                                    = move_backward
<left>                                 = move_backward

C-a                                    = move_to_start_of_line
C-e                                    = move_to_end_of_line

M-<                                    = move_to_start
<home>                                 = move_to_start
M->                                    = move_to_end
<end>                                  = move_to_end

M-f                                    = move_forward_word
C-<right>                              = move_forward_word
M-b                                    = move_backward_word
C-<left>                               = move_backward_word

M-p                                    = move_to_previous_blank_line
M-n                                    = move_to_next_blank_line

C-M-b                                  = move_to_start_of_scope
C-M-n                                  = move_to_end_of_scope

M-%                                    = search_and_replace

C-x C-s                                = save_document
C-x C-r                                = reload_document

C-M-p                                  = swap_line_up
C-M-n                                  = swap_line_down

M-g g                                  = go_to_line

C-<space>                              = start_selecting
C-g                                    = stop_selecting
<escape>                               = stop_selecting

C-d                                    = delete_forward
<delete>                               = delete_forward
<backspace>                            = delete_backward

M-d                                    = delete_forward_word
C-<backspace>                          = delete_backward_word
M-<backspace>                          = delete_backward_word

C-k                                    = delete_line
C-j                                    = join_next_line

C-m                                    = insert_line_before
<enter>                                = insert_line_before
C-o                                    = insert_line_after

C-i                                    = indent_or_autocomplete
<tab>                                  = indent_or_autocomplete

C-x C-;                                = toggle_comment

C-/                                    = undo_edit
M-/                                    = redo_edit

M-w                                    = copy
C-w                                    = cut
C-y                                    = paste

C-x C-q                                = toggle_readonly

[keybinds.compilation]

C-p                                    = move_up
<up>                                   = move_up
C-n                                    = move_down
<down>                                 = move_down
C-f                                    = move_forward
<right>                                = move_forward
C-b                                    = move_backward
<left>                                 = move_backward

C-a                                    = move_to_start_of_line
C-e                                    = move_to_end_of_line

M-<                                    = move_to_start
<home>                                 = move_to_start
M->                                    = move_to_end
<end>                                  = move_to_end

M-f                                    = move_forward_word
C-<right>                              = move_forward_word
M-b                                    = move_backward_word
C-<left>                               = move_backward_word

M-p                                    = move_to_previous_error
p                                      = move_to_previous_error
M-n                                    = move_to_next_error
n                                      = move_to_next_error

C-<space>                              = start_selecting
C-g                                    = stop_selecting
<escape>                               = stop_selecting

M-w                                    = copy
C-w                                    = copy

C-m                                    = go_to_current_error
<enter>                                = go_to_current_error

g                                      = refresh
C-r                                    = refresh

[keybinds.listing]

C-p                                    = move_up
p                                      = move_up
<up>                                   = move_up
C-n                                    = move_down
n                                      = move_down
<down>                                 = move_down

C-m                                    = open
<enter>                                = open
C-o                                    = open_in_other_panel

d                                      = mark_item
u                                      = unmark_item
x                                      = delete_marked_items

g                                      = refresh
C-r                                    = refresh

[keybinds.mini_panel]

C-p                                    = move_up
<up>                                   = move_up
C-n                                    = move_down
<down>                                 = move_down
C-f                                    = move_forward
<right>                                = move_forward
C-b                                    = move_backward
<left>                                 = move_backward

C-a                                    = move_to_start_of_line
C-e                                    = move_to_end_of_line

M-<                                    = move_to_start
<home>                                 = move_to_start
M->                                    = move_to_end
<end>                                  = move_to_end

M-f                                    = move_forward_word
C-<right>                              = move_forward_word
M-b                                    = move_backward_word
C-<left>                               = move_backward_word

M-v                                    = move_up_one_screen
<pageup>                               = move_up_one_screen
C-v                                    = move_down_one_screen
<pagedown>                             = move_down_one_screen

C-d                                    = delete_forward
<delete>                               = delete_forward
<backspace>                            = delete_backward

M-d                                    = delete_forward_word
C-<backspace>                          = delete_backward_word
M-<backspace>                          = delete_backward_word

C-<space>                              = start_selecting

C-i                                    = indent_or_autocomplete
<tab>                                  = indent_or_autocomplete

M-w                                    = copy
C-w                                    = cut
C-y                                    = paste

C-m                                    = confirm
<enter>                                = confirm
C-g                                    = cancel_or_stop_selecting
<escape>                               = cancel_or_stop_selecting

[keybinds.modal_interaction]

C-f                                    = move_forward
<right>                                = move_forward
C-b                                    = move_backward
<left>                                 = move_backward

C-a                                    = move_to_start_of_line
C-e                                    = move_to_end_of_line

M-f                                    = move_forward_word
C-<right>                              = move_forward_word
M-b                                    = move_backward_word
C-<left>                               = move_backward_word

C-d                                    = delete_forward
<delete>                               = delete_forward
<backspace>                            = delete_backward

M-d                                    = delete_forward_word
C-<backspace>                          = delete_backward_word
M-<backspace>                          = delete_backward_word

C-<space>                              = start_selecting

C-i                                    = indent_or_autocomplete
<tab>                                  = indent_or_autocomplete

M-w                                    = copy
C-w                                    = cut
C-y                                    = paste

C-m                                    = confirm
<enter>                                = confirm
C-g                                    = cancel_or_stop_selecting
<escape>                               = cancel_or_stop_selecting




